.nav_wrapper{
    height: 80px;
    width: 100%;
    background-color: rgb(243, 221, 221);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 99;
}

.nav_wrapper .logo a{
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.nav_wrapper .logo a span{
    color: #4f3520;
}

.nav_wrapper ul li{
    display: inline-block;
    margin: 0 15px;
}

.Nav_btns{
    display: flex;
    gap: 18px;
    align-items: center;
}

.nav_wrapper ul li a{
    color: #1e1e1e;
    font-weight: 500;
    font-family: 'poppins';
    font-size: 15px;
}